@import "grid/main";

@import "styles/support/normalize";
@import "styles/support/fonts";
@import "styles/support/grid";
@import "styles/support/common";
@import "styles/support/buttons";

@import "styles/components/login";
@import "styles/components/player";
@import "styles/components/settings";
@import "styles/components/modal";

html {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-family: "Muller";
  color: white;
  font-size: 15px;

  .bg-image {
    background-image: url("../images/player-bg.jpg");
    filter: blur(20px);
    position: absolute;
    z-index: -1;
    top: -50px;
    bottom: -50px;
    left: -50px;
    right: -50px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
